# Data — ignore raw data files but allow DVC pointer files
data/raw/**/*.xpt
data/raw/**/*.XPT
data/raw/**/*.zip
data/raw/**/*.ZIP
data/processed/
data/splits/
!data/**/.gitkeep
!data/**/*.dvc

# Model weights — too large for GitHub
outputs/checkpoints/*
*.bin
*.pt
*.safetensors

# Python
__pycache__/
*.pyc
.venv/
*.egg-info/

# Jupyter
.ipynb_checkpoints/

# Environment
.env
*.env

# Wandb
wandb/

# macOS
.DS_Store
outputs_pre_fix/
